<p id="notice"><%= notice %></p>

<h3><%= @project.name %> | <%= @project.description %></h3>

<p>
  <strong>Owner:</strong>
  <%= @project.user.email %>
</p>

<%= render 'tasks/index' %>

<%#= render 'tasks/form' %>

<%= link_to "Add Task", new_project_task_path(@project) %> | 
<%= link_to 'Back', projects_path %>
