<p id="notice"><%= notice %></p>

<h3><%= @project.name %> | <%= @project.description %></h3>

<p>
  <strong>Owner:</strong>
  <%= @project.user.email %>
</p>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Description</th>
        <th>Owner</th>
          <% if user_signed_in? %>
        <th>Edit | Delete</th>
          <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @project.tasks.each do |task| %>
        <tr>
          <td><%= task.action %></td>
          <td><%= task.comment %></td>
          <% if current_user == @project.user %>
          <td>
            <%#= link_to 'Edit', edit_project_path(project) %> | 
            <%#= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
          <% end %>
        </tr>
      <% end %>
      </tr>
  </table>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
